<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-2">
	<a class="navbar-brand" href="/">Logo</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarColor02"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarColor02">
		<ul class="navbar-nav float-right">
			<% if (typeof user !='undefined'){ %>
			<li class="nav-item">
				<a class="nav-link" href="/record">Add Record</a>
			</li>
			<% } %>
			<li class="nav-item">
				<a class="nav-link" href="/faq">FAQ</a>
			</li>
			<% if (typeof user =='undefined'){ %>
			<li class="nav-item">
				<a class="nav-link" href="/login">Login/Register</a>
			</li>
			<% }else{ %>
			<li class="nav-item">
				<a class="nav-link" href="/profile">Account: <%=user.username%></a>
			</li>
			<% } %>
		</ul>
	</div>
</nav>
