<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
	</head>

	<body>
		<% include partials/menu %>
		<div class="container-fluid bg-5 text-left">
			<h1><%= page %></h1>
			<br />
			<div class="col-sm-3"></div>
			<div class="col-sm-6 text-center">
				<p><b>Q. What does BayPrice do?</b></p>
				<p>
					<b>A. </b>BayPrice is a price tracking tool that stores the
					<b>historic selling price</b> of eBay listings on products the user is
					interested in. All the price information stored will be specific to
					the user to avoid any competitive advantages.
				</p>
				<p><b>Q. How do I start?</b></p>
				<p>
					<b>A. </b>You will need to first create an account. After that, you
					can find the product you want to track through the search page and put
					it into a monitoring list. When listings of the product you want has
					sold, its price will be recorded.
				</p>
				<p><b>Q. How do I remove products from the monitoring list?</b></p>
				<p>
					<b>A. </b>You will need to your monitoring list and click on the
					delete button for that product.
				</p>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</body>
	<% include partials/script %>
</html>
