<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
	</head>

	<body>
		<% include partials/menu %>

		<br />
		<section class="container">
			<div class="row vh-100">
				<div class="col-12 text-center">
					<h1><%= page %></h1>
					<div class="row">
						<div class="col-lg-4 mb-4">
							<div class="card h-100">
								<div
									class="card-body d-flex flex-column justify-content-center align-items-center"
								>
									<h4 class="card-title text-primary">
										Q. What does EPA do?
									</h4>
									<p class="card-text">
										<b>A. </b>eBay Price Archive is a price tracking tool that stores the
										<b>historic selling price</b> of eBay listings on products
										the user is interested in. All the price information stored
										will be specific to the user to avoid any competitive
										advantages.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 mb-4">
							<div class="card h-100">
								<div
									class="card-body d-flex flex-column justify-content-center align-items-center"
								>
									<h4 class="card-title text-primary">Q. How do I start?</h4>
									<p class="card-text">
										<b>A. </b>You will need to first create an account. After
										that, you can fill in the form in the <a href="/record">Add Record</a> page of the product you saw and its ending price. You can view the products you have stored from the <a href="/profile">Profile page</a>.									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 mb-4">
							<div class="card h-100">
								<div
									class="card-body d-flex flex-column justify-content-center align-items-center"
								>
									<h4 class="card-title text-primary">
										Q. How do I view the data I entered?
									</h4>
									<p class="card-text">
										<b>A. </b>From the profile page, you are shown the list of all products and subitems you have stored. You can use the search function to filter down or find the product you need.
										When you go to a product's page, a graph of all the sales for it is shown. Hover over the points and more details will be shown of each individual sale.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
	<% include partials/script %>
</html>
