<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
	</head>

	<body>
		<% include partials/menu %>

		<h1><%= page %></h1>
		<br />
		<section class="container">
			<div class="row vh-100">
				<div class="col-12 my-auto">
					<div class="row text-center">
						<div class="col-lg-4 mb-4">
							<div class="card h-100">
								<div
									class="card-body d-flex flex-column justify-content-center align-items-center"
								>
									<h4 class="card-title text-primary">
										Q. What does BayPrice do?
									</h4>
									<p class="card-text">
										<b>A. </b>BayPrice is a price tracking tool that stores the
										<b>historic selling price</b> of eBay listings on products
										the user is interested in. All the price information stored
										will be specific to the user to avoid any competitive
										advantages.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 mb-4">
							<div class="card h-100">
								<div
									class="card-body d-flex flex-column justify-content-center align-items-center"
								>
									<h4 class="card-title text-primary">Q. How do I start?</h4>
									<p class="card-text">
										<b>A. </b>You will need to first create an account. After
										that, you can find the product you want to track through the
										search page and put it into a monitoring list. When listings
										of the product you want has sold, its price will be
										recorded.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 mb-4">
							<div class="card h-100">
								<div
									class="card-body d-flex flex-column justify-content-center align-items-center"
								>
									<h4 class="card-title text-primary">
										Q. How do I remove products from the monitoring list?
									</h4>
									<p class="card-text">
										<b>A. </b>You will need to go to your progile to view the
										monitoring list and click on the delete button for that
										product.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
	<% include partials/script %>
</html>
