<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/menu %>
  <div class="container-fluid bg-5 text-left">
    <h1>
      <%= page %>
    </h1><br>
<div class="row-sm-4 text-center">
    <div class="button_cont" text-align="center" alt="login"><a class="LoginButton" href="" target="_blank" rel="nofollow noopener">Login or Register</a></div>
    <br>
</div>
    <div class="col-sm-12 text-center">
      <p>BayPrice is a web app designed to let you track selling prices of the product you want.</p>
    </div>
    <div class="col-sm-12 text-center">
      <p>Simply create an account or login to start.</p>
    </div>
  </div>
  </div>
</body>
<% include partials/script %>

</html>