<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
	</head>

	<body>
		<% include partials/menu %>
		<div class="container-fluid bg-6 text-left">
			<h1><%= page %></h1>
			<div class="page-header text-center">
				<h2>My Profile</h2>
				<a href="/logout" class="btn btn-danger btn-sm">Logout</a>
			</div>
                <%for (var result in list){%>
                  <h1><%=result%>:<%=list[result].Name%></h1>    
                  <%}%>
	</body>
	<% include partials/script %>
</html>
