<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
	</head>

	<body>
		<% include partials/menu %>
		<div class="card mx-5">
			<div
				class="card-body d-flex flex-column justify-content-center  align-items-center"
			>
				<h2><%=user.username%>'s Profile</h2>
				<a href="/logout" class="btn btn-danger btn-sm">Logout</a>
				</br>
				</br>
				<div class="table-responsive mx-auto">
					<table class="table table-hover table-sm">
						<tbody>
							<tr>
								<th class="w-25">Product</th>
								<th class="w-50">Subitem</th>
							</tr>
							<!--Loop to print out everything in the array-->
							<% for(var i=0; i < results.length; i++) { %>
								<% for(var j = i; j <= results.length; j++) { %>
									<% if(results[i].SubItem == results[i].Name && i != j) {	%>					
										<tr>						
											<td>
												<%= results[i].Name %>
											</td>
											<td>
											</td>
										</tr>
								<% } continue;%>
								<% } %>
								<tr>
									<td>
										<%= results[i].Name %>
									</td>
									<td>
										<%= results[i].SubItem %>
									</td>
								</tr>
							<% } %>												
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
	<% include partials/script %>
</html>