<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
	</head>

	<body>
		<% include partials/menu %>
		<section classid="forms" class="container py-5"></section>
	</body>
	<% include partials/script %>
</html>
