<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
	</head>

	<body>
		<% include partials/menu %>
		<div class="container-fluid bg-6 text-left">
			<h1><%= page %></h1>
			<br />

			<div class="form-group-sm-6 text-center">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<small id="helpId" class="form-text text-muted">
						Please enter the product you would like to see:</small
					>
					<form action="/send" method="POST">
						<input
							type="search"
							class="form-control form-control-lg"
							id="ebay-search-box"
							name="ebayId"
							placeholder="Enter the eBay item number"
						/>
						<input class="btn btn-primary" type="submit" value="Submit" />
					</form>
					<!--<input
						type="search"
						class="form-control form-control-lg"
						id="search-box"
						aria-describedby="helpId"
						placeholder="Search Here..."
					/>
					<div class="form-submit form-control-center">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>-->
				</div>
				<div class="col-sm-3"></div>
			</div>
		</div>
	</body>
	<% include partials/script %>
</html>
