<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
	</head>

	<body>
		<% include partials/menu %>
		<section id="forms" class="container pb-5">
			<div class="row">
				<div class="col-md-12">
					<% if (message.length > 0) { %>
					<div class="alert alert-danger"><%= message %></div>
					<% } %>
					<form action="/signup" method="post">
						<div class="form-group row">
							<label class="col-lg-2 col-form-label form-control-label"
								>Username</label
							>
							<div class="col-lg-10">
								<input type="text" class="form-control" name="username" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-2 col-form-label form-control-label"
								>Password</label
							>
							<div class="col-lg-10">
								<input type="password" class="form-control" name="password" />
							</div>
						</div>
						<button type="submit" class="btn btn-primary mr-2">
							Register
						</button>
					</form>
					<hr />
					<p>Go Back <a href="/">Home</a>.</p>
				</div>
			</div>
		</section>
	</body>
	<% include partials/script %>
</html>
